* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ad00bd;
}
  
li{
    float: left;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 220px;
    text-decoration: none;
}
  
  li a:hover{
    background-color: #ababab;
}

#main{
    padding: 220px 100px 0px 100px;
    display: inline-block;
    width: 45%;
    align-items: center;
}
#main h1{
    color: rgb(108, 0, 130);
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 20px;
}
#main h1 span{
    display: inline-block;
    margin-top: 5px;
    color: rgb(104, 104, 104);
    font-size: 1em;
    font-weight: 600;

}
img{
    padding: 50px 100px;
    border-radius: 200px;
}
#section1{
    padding: 100px;
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}
#section1 h2{
    color: rgb(108, 0, 130);
    font-size: 2.5em;
    font-weight: 600;
    padding-top: 70px;
    padding-bottom: 20px;
}
#section1 a{
    color: rgb(104, 104, 104);
    font-size: 2em;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50 px;
    transition: 0.7s ease;
}
#section1 embed{
    padding-bottom: 40px;
    border-radius: 20px;
}
#section2{
    padding: 100px;
    width: 100%;
    align-items: center;
    display: inline-block;
}
#section2 h2{
    color: rgb(108, 0, 130);
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 20px;
}
#section2 form input[type=text], input[type=tel], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#section2 form label {
    color: rgb(212, 0, 255);
    font-size: 1.7em;
    display: inline;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10 px;
}
#section2 form input[type=submit] {
    width: 100%;
    background-color: #ff00ae;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#section2 input[type=submit]:hover {
    background-color: #a6a6a6;
}
#section3{
    padding: 100px;
    width: 100%;
    align-items: center;
    display: inline-block;
}
#section3 h2{
    color: rgb(108, 0, 130);
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 20px;
}
.div1 h3{
    color:rgb(212, 0, 255);
}
.div2 {
    width: 100%;
    padding-top: 70px;
}
.div2 a{
    color: rgb(104, 104, 104);
    font-size: 1.7em;
    display: inline;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10 px;
    transition: 0.7s ease;
}
.div2 a:hover{
    color: rgb(212, 0, 255);
    transform: scale(1.2);
}
footer{
    background-color: rgb(108, 0, 130);
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    padding: .5em;
    display: flex;
    justify-content: space-between;
}